# Configs

title: "Nelly Dayan Gil"
name: "Jekyll Website for Nelly Gil"
email: "gilnelly73@gmail.com"
url: "https://Nelly-Gil.github.io"
baseurl: "jready"
repository: "[Nelly-Gil/jready]"
header:
  image: /assets/images/Headshot.JPG

include:
  - _pages
  - assets
  - index.html
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-include-cache

# Build settings
markdown: kramdown
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin: "contrast"

# settings for author profile
author:
  name   : "Nelly Dayan GIl"
  avatar : "/assets/images/Headshot.JPG"
  bio    : "Driven Finance major at Northern Illinois University with a strong foundation in economics, analytical modeling, and business strategy. Experienced in applying financial concepts through hands-on coursework and internship preparation, with growing skills in data analysis and computer science. Focused on developing a career in finance or wealth management, supported by strong communication abilities, a proactive work ethic, and a commitment to continuous growth."
  location: "DeKalb, Illinois"
  github : "Nelly-Gil"
  linkedin: "nellygil" #This is a fake site that won't work. To add your own, make sure to include just the profile, not the full url. Eg. anna-klis-1337a150
  email  : 


# # comments by disqus
#comments:
  #provider: "disqus"
  #disqus:
    #shortname: "pwills-com"

#analytics:
  #provider: "google"
  #google:
    #tracking_id: "UA-116208936-1"


# pagination for blog page
paginate: 10 # number of posts to show
paginate_path: /page:num/

# default YAML front matter
defaults:
  # all
  - scope:
      path: ""
    values:
      layout: single
      mathjax: true
      author_profile: true
      class: wide
      title: " "
      title_separator: "|"
  # posts
  - scope:
      type: posts
    values:
      toc: true
      toc_label: "Contents"
      read_time: false
      comments: true
  # portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      author_profile: false
      excerpt: ""
      sidebar:
        nav: "portfolio"

# collections
collections:
  portfolio:
    output: true
